@tailwind base;
@tailwind components;
@tailwind utilities;

.main-menu .tabs {
    @apply mb-4 bg-stone-600 justify-center
}
.main-menu .tab {
    @apply sm:text-lg text-stone-100
}
.content {
    min-height: 256px;
    @apply container max-w-2xl p-1
}
h1 {
    @apply text-3xl
}
h1 img {
    height: 1em;
    margin-right: 0.1em;
}
h2 {
    @apply text-2xl my-2
}
.btn {
    @apply text-lg font-normal mx-4 rounded-full
}
.btn-create {
    @apply btn btn-primary float-right mb-2
}
.item label {
    @apply sm:inline-block sm:w-1/5 sm:text-right pr-2 sm:align-top text-secondary-focus
}
form .item label,
form .item .value {
    @apply align-middle
}
.item .value {
    @apply sm:inline-block sm:w-auto sm:align-top
}
.item .value-multi-line {
    @apply block w-full sm:inline-block sm:w-auto sm:align-top
}
.card {
    @apply shadow-xl clear-both mb-4 mx-1
}
.card-disabled {
    @apply bg-stone-400
}
.card-actions {
    @apply pb-2 px-4 justify-end
}
.nodata {
    @apply alert shadow-lg my-4 clear-both
}
form {
    @apply py-4 px-2
}
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=time] ,
input[type=url] ,
input[type=week] {
    @apply input input-bordered rounded-md my-1
}
select {
    @apply select select-bordered rounded-md my-1 text-base font-normal
}
textarea {
    @apply textarea textarea-bordered rounded-md my-1
}
.item input[type=color],
.item input[type=date],
.item input[type=datetime-local],
.item input[type=email],
.item input[type=month],
.item input[type=number],
.item input[type=password],
.item input[type=tel],
.item input[type=text],
.item input[type=time] ,
.item input[type=url] ,
.item input[type=week],
.item select,
.item textarea {
    @apply block w-full sm:inline-block sm:w-2/3 sm:align-middle
}
.form-actions {
    @apply py-2 px-4 text-right
}
.form-error {
    @apply text-error
}
.footer {
    @apply items-center py-2 px-4 bg-stone-600 text-stone-100
}
.copyright {
    @apply items-center grid-flow-col
}
